.swiper-slide img {
    position: fixed;
    top: 0;
}

.reservpage {
    height: 100%;
}

.reservpage .back img {
    position: absolute;
    top: 20px;
    left: 10px;
    z-index: 50;
}

.hotissueslider {
    margin-top: -30px;
    overflow: hidden;
    width: 100%;
    height: 266px;
}

.title_area {
    position: relative;
    margin-bottom: 15px;
}

.reservpage h1 {
    text-align: left;
    margin-left: 15px;
    font-size: 20px;
    font-weight: 600;
    padding-top: 15px;
}

.reservpage h2 {
    font-size: 16px;
    font-weight: 400;
    color: #909090;
    text-align: left;
    margin-top: 10px;
    margin-left: 15px;
    padding-bottom: 50px;
}
.reserv {
    position: absolute;
    z-index: 40;
    top: 18px;
    right: 2px;
    font-size: 16px;
    padding: 10px 25px;
    box-sizing: border-box;
    background-color: #161A30;
    color: #fff;
    border-radius: 5px;
}

.calendar label {
    font-weight: 500;
    margin-right: 25px;
}

.calendar label img {
    position: absolute;
    top: 32.5%;
    width: 18px;
}

input[type="text" i]:focus {
    outline: none;
}

input[type="text" i] {
    height: 32px;
    padding-left: 10px;
}


.date {
    margin-bottom: 10px;
}

.popup {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 100;
}

.popup .popup_content {
    background-color: white;
    padding: 35px 0 35px 0;
    border-radius: 10px;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1);
    width: 90%;
    text-align: center;
    box-sizing: border-box;
    border: 5px double #161a30;
}

.popup .popup_content h3 {
    text-align: center;
    font-weight: 500;
    color: rgba(0, 0, 0, 0.9);
}

.popup h2 {
    margin: 0 auto;
    margin-bottom: 15px;
    text-align: center;
    color: #000;
    font-size: 20px;
}

.popup .check_box {
    display: flex;
    justify-content: space-evenly;
}

.popup .check {
    border-radius: 5px;
    background-color: #161A30;
    color: #fff;
    width: 150px;
    height: 50px;
    font-size: 16px;
    font-weight: 600;
    margin-top: 10px;
}

.popup .check.cancel {
    background: #161a3060;
}

.popup_text {
    text-align: left;
    padding: 40px 30px;
    box-sizing: border-box;
}

.etc_area p {
    margin-bottom: 10px;
    font-weight: 500;
}

.etc {
    width: 95%;
    margin: 0 auto;
    height: 60px;
    border-radius: 5px;
    border-color: #161a304f;
    font-size: 16px;
    padding-left: 10px;
}

.pay {
    margin-top: 50px;
    text-align: center;
    color: #909090;
}

.people_count {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.people_count>button {
    border: 1px solid #161a3037;
    border-radius: 5px;
    width: 50px;
    height: 35px;
    font-size: 16px;
    font-weight: 600;
    align-items: center;
    text-align: center;
    line-height: 35px;
    margin: 0 5px;
    background: #fff;
}

.people_count p {
    margin-right: 20px;
    font-weight: 500;
}

.people_count input {
    margin-left: 35px;
    width: 20%;
    text-align: center;
    font-size: 14px;
    height: 32px;

}

.tel {
    display: flex;
    margin-bottom: 10px;
}
.tel p {
    font-weight:  500;
}
.tel input {
    margin-left: 40px;
    width: 60%;
    height: 35px;
    padding-left: 10px;
    font-size: 16px;
}

.tel input:focus,
.people_count input:focus,
.etc:focus {
    outline: none;
}



.detail {
    border-top: 1px solid #90909080;
    padding-top: 15px;
    padding-bottom: 15px;
}

.detail h3 {
    margin-left: 15px;
    font-size: 17px;
    font-weight: 500;
    margin-bottom: 20px;
}

.detail .map_area,
.detail .info_area {
    margin: 0 auto;
    height: 220px;
    width: 320px;
    border: 1px solid #90909050;
    border-radius: 10px;
}

.detail .info_area p {
    margin-top: 10px;
    margin-left: 10px;
}

.detail.call {
    position: relative;
    padding-bottom: 0;
    padding-top: 20px;
}

.detail.call > button {
    margin-top: 2px;
    position: absolute;
    top: 15px;
    right: 10px;
    line-height: 30px;
    font-size: 16px;
    background-color: transparent;
    font-weight: 800;
    color: #119400;
}

.detail.ivo {
    padding-bottom: 80px;
}

.detail>.ivo ul {
    display: flex;
    justify-content: center;
    width: 100%;
}

.detail>.ivo ul li {
    width: 100%;
    margin: 0 10px;
    border-radius: 10px;
    margin-bottom: 20px;
}

.detail>.ivo ul li p {
    color: rgba(0, 0, 0, 0.6);
    font-weight: 500;
}

.detail>.ivo ul img {
    width: 160px;
    height: 160px;
    border-radius: 10px;
}